/* You can add global styles to this file, and also import other style files */
@import "mixins.scss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  background-color: lightcoral;
  font-size: 17px;
  height: 100%;
}

body{
  height: 100%;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.main{
  padding: 10px;
  flex-grow: 1;
  position: relative;
}

.flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.flex-direction-column{
  flex-direction: column;
}

.align-items-center{
  align-items: center;
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-stretch{
  align-items: stretch;
}

li{
  list-style-type: none;
}

.btn-def{
  border: none;
  outline: none;
  color: #fff;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .25s ease-in;
  display: inline-block;
  &:hover{
    background-color: lighten(black, 10%);
  }
  &:active{
    background-color: lighten(black, 25%);
  }
  &--large{
    padding: toRem(7) toRem(14);
    font-size: toRem(18);
  }
  &--average{
    padding: toRem(5) toRem(10);
    font-size: toRem(16);
  }
  &--small{

  }
}

a{
  text-decoration: none;
  color: black;
  transition: color .25s linear;
  &:hover{
    color: lighten(black, 25%);
  }
  &:active{
    color: lighten(black, 25%);
  }
}

@media screen and (max-width: 1200px){
  html{ font-size: 16px }
}

@media screen and (max-width: 998px){
  html{ font-size: 15px }
}

@media screen and (max-width: 768px){
  html{ font-size: 14px }
}





