@import "../../../mixins";
.layout_admin{
  height: 100%;
  position: relative;
  &__header{
    background-color: indianred;
    padding: toRem(12);
  }
  &__h{
    font-weight: bold;
    &--logo{
      font-size: toRem(32);
    }
  }
  &__section{

  }
}
