@import "../../../mixins";
.input{
  padding: toRem(7) toRem(11);
  outline: none;
  font-size: toRem(17);
  border-radius: 5px;
  border: 1px solid lighten(black, 20%);
  color: lighten(black, 20%);
  background-color: transparent;
  &__cell{

  }
  &__label{
    color: lighten(black, 20%);
    font-size: toRem(16);
    padding-bottom: toRem(3);
  }
  &__error{
    color: red;
    font-size: toRem(15);
    min-height: toRem(17);
  }
}
