<div class="post__frame">
  <div class="post" >
    <header class="post__header flex justify-content-between">
      <h5 class="post__h post__h--average">{{ post.title }}</h5>
      <small class="post__date">{{ post.created_at | date }}</small>
    </header>
    <div class="post__desc">
      <small class="post__name">Name: <span class="post__author">{{ post.user?.name }}</span></small>
    </div>
    <footer>
      <app-button [link]="true" [text]="'Open'" [href]="'post/'+post.id" ></app-button>
    </footer>
  </div>
</div>
