@import "../../../mixins.scss";
.layout{
  &__header{

  }
  &__link{
    color: #000;
  }
  &__h{
    font-weight: bold;
    &--large{
      font-size: toRem(66);
    }
  }
  &__content{
    padding: 10px 0;
  }
}
