@import "../../../mixins";
.nav-admin{
  height: 100%;
  &__ul{
    gap: toRem(5);
    height: 100%;
  }
  &__li{
    background-color: transparent;
    height: 100%;
    padding: 0 toRem(8);
    transition: background-color .25s linear;
    &--active{
      background-color: rgba(0,0,0, .1);
      border-radius: 3px;
    }
  }
  &__link{
    font-size: toRem(19);
  }
}
